# dependencies
node_modules/

# builds
dist/
.next/
out/
build/
.turbo/

# expo (apps/mobile/*)
.expo/
expo-env.d.ts

# keys & certificates
*.jks
*.p8
*.p12
*.key

# env
.env
.env.*
!.env.example

# misc
.DS_Store
*.log
*.tsbuildinfo

# prisma generated client
packages/db/src/generated/

# pnpm cache accidentally created in repo
.pnpm-store/
